body {
	background-color:yellow;
}
h2{
	text-align:center;
	text-decoration:none;
}
#header{
	height:50px;
	background-color:purple;
	padding:auto 0;
}
#forma{
	background-color:aqua;
	padding:12px;
}
#listing{
	background-color:purple;
	padding:12px;
}
#lower{
	background-image: url("avengers-endgame-3053x1717-silhouette-marvel-superheroes-illustration-18339.jpg");
	height:55px;
	
}