body {
	background-color:yellow;
	font-size:16px;
	font-family: 'Caveat', cursive;
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-family: 'Caveat', cursive;
	font-weight:700;
	text-align:center;
	text-decoration:none;
}
h3{
	font-family: 'Caveat', cursive;
}
#header{
	height:50px;
	background-color:purple;
	padding:auto 0;
}
#forma{
	background-color:aqua;
	padding:12px;
}
#listing{
	background-color:purple;
	padding:12px;
}
#lower{
	background-image: url("avengers-endgame-3053x1717-silhouette-marvel-superheroes-illustration-18339.jpg");
	height:55px;
	
}
.slike{
	display:flex;
	width:100vw;
	background-color:purple;
}
#slika1 , #slika2, #slika3{
	flex:1;
	text-align:center;
	border:2px solid white;
}